/**
 * Button component styles
 * @author Gerson Lázaro <iam@gersonlazaro.com>
 * @date 2020
 */

.mainButton,
.mainButton:hover,
.mainButton:focus,
.mainButton:active {
  background: linear-gradient(90deg, #98FF6C 0%, #91FE74 23.07%, #45F1D1 76.59%, #38EFE1 99.97%);
  border: none;
  color: #151515;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 21px;
  outline: none;
  padding: 9px 28.5px;
  text-align: center;
  text-transform: uppercase;
}